@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

img{
    display: block;
    margin: auto;
}

/* .tech{
    border-radius: 0px;
    background: #e0e0e0;
    box-shadow:  35px 35px 70px #cccccc,
                 -35px -35px 70px #f4f4f4;
} */

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover{
    transition: 300ms;
}

.connect:hover{
    transition: 300ms;
    opacity: 80%;
}


@media (min-width: 576px) { 
    .app > i {
            
    }
}

@media (min-width: 768px) { }

@media (min-width: 992px) { }

@media (min-width: 1200px) { }

@media (min-width: 1400px) { }